[packages]
psutil          = "*"
pdoc            = "*"
defusedxml      = "*"
certifi         = "*"
requests        = "*"
msal            = "*"
urllib3         = "*"
tqdm            = "*"
openpyxl        = "*"
pyyaml          = "*"
python-dateutil = "*"
unidecode       = "*"

pyutils_lib = {path = "./../pyutils_lib",editable = true}

[dev-packages]
path            = "*"
pylint          = "*"
setuptools      = "*"
wheel           = "*"
invoke          = "*"
pytest          = "*"
testfixtures    = "*"
pytest-cov      = "*"
pytest-mock     = "*"

[requires]
python_version = "3"
